<section>
  <img src="https://cdn.shopify.com/s/files/1/0624/2648/0824/files/Frame_544.png?v=1663735908" width="100%" />
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}