<div class="inventoryWrapper">
{% for product in collections.frontpage.products limit: 12 %}
  {{ product | link_to_type }}
  <img src={{ product | image_url: height: 450 }} />
  {{ product.title }}
  {% endfor %}

  {% for link in settings.collection_list %}
  {% if link.type == 'collection_link' %}
    {% assign collection = link.object %}

    <!-- collection info -->
  {% endif %}
{% endfor %}
  
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}