<section class="usman section-3">
<div class="wrapper">
{% for product in collections.planes-entrenamiento.products %}
  
  <a href={{ product.url }}>
  <img src={{ product | image_url: height: 450 }} />
  <h2>{{ product.title }}</h2>
  </a>
  {% endfor %}
  
</div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}