<div class="inventoryWrapper">
{% for product in collections.frontpage.products limit: 12 %}
  {{ 'Destacado3.jpg' | file_img_url }}
  <img src={{ 'Destacado3.jpg' | file_img_url  }} />
  
  {{ product.media  }}
  {% endfor %}

  {% for link in settings.collection_list %}
  {% if link.type == 'collection_link' %}
    {% assign collection = link.object %}

    <!-- collection info -->
  {% endif %}
{% endfor %}
  
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}