<div class="inventoryWrapper">
{% for product in collections.frontpage.products limit: 12 %}
  <img src={{ 'products/Destacado3.jpg' | asset_url  }} />
  
  {{ product.images }}
  {% endfor %}

  {% for link in settings.collection_list %}
  {% if link.type == 'collection_link' %}
    {% assign collection = link.object %}

    <!-- collection info -->
  {% endif %}
{% endfor %}
  
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}