<div class="inventoryWrapper">
{% assign collection_handle = 'Newest Products' %}
{{ collections[0] }}
{% for product in collections.frontpage.products %}
  <a href={{ product.url }}>
  <img src={{ product | image_url: height: 450 }} />
  {{ product.title }}
  </a>
  {% endfor %}

  {% for link in settings.collection_list %}
  {% if link.type == 'collection_link' %}
    {% assign collection = link.object %}

    <!-- collection info -->
  {% endif %}
{% endfor %}
  
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}