<div class="inventoryWrapper">
{% for variant in products %}
        variantStock {{variant}};
      {% endfor %}

</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}