<section class="page-width p-0">
<div class="row">
{% for product in collections.planes-entrenamiento.products %}
  <div class="col-12 col-md-3">
  <a href={{ product.url }}>
  <img src={{ product | image_url: height: 450 }} />
  <h2>{{ product.title }}</h2>
  </a>
  </div>
  {% endfor %}
  
</div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}