<div class="inventoryWrapper">
   {{ collections }}
{% for product in collections.frontpage.products limit: 12 %}
    {{ product }}
  {% endfor %}

</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}