<div class="inventoryWrapper">
{% for product in collections.frontpage.products limit: 12 %}
  {% assign alt = product.title | escape %}
  {{ product.products.first.image | image_url: width: 450, height: 450 | image_tag: alt }}
    {{ product.images }}
  {% endfor %}

  {% for link in settings.collection_list %}
  {% if link.type == 'collection_link' %}
    {% assign collection = link.object %}

    <!-- collection info -->
  {% endif %}
{% endfor %}
  
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}