<div class="inventoryWrapper">
    <p>Stock: {{ current_variant.inventory_quantity }}</p>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}