<section>
  <img src="https://cdn.shopify.com/s/files/1/0624/2648/0824/files/atencion.png?v=1663738718" width="100%" />
</section>
<section class=" wrapper">
  <div class="displaynone">
    <h2>¿cómo podemos ayudarte?</h2>
    <p>Envíos</p>
    <p>Incidencias</p>
  </div>
  <div class="">
    <h1>Preguntas frecuentes</h1>
  </div>
  
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
  @media (min-width: 576px) {
  .displaynone{
    display:none;
  }
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}