<section class="container" style="padding:60px 0 60px 0;">
  <center>
    <h1>únete al club</h1>
    <form style="max-width:700px;text-align: left;">
      
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre Completo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">correo</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="nombre@tucorreo.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Teléfono</label>
        <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="55 5555 5555">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput4" class="form-label">Usuario de instagram</label>
        <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="@cliquerunclub">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput5" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="Ciudad de México">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput6" class="form-label">Nivel de corredor</label>
        <select id="exampleFormControlInput6" class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">Principiante</option>
          <option value="2">Intermedio</option>
          <option value="3">Experto</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>
  </center>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}