<section class="container">
  <div class="row">
    <div class="col-12">
        qwqw
    </div>
    <div class="col-12">
      erewrewrewrewrew
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}