<section class="container" style="background-color:#F8F8F8; padding:60px 0 60px 0">
  <div class="row">
    <div class="col-12 col-md-6">
        <img src="https://cdn.shopify.com/s/files/1/0624/2648/0824/files/unete02.jpg?v=1663810350" class="img-fuid" width="60% />
    </div>
    <div class="col-12 col-md-6">
      <h1 class="mb-5"><span style="color:#EA2E34;">Perfil</span> de nuestros integrantes</h1>
      <ul>
        <li>
          Ven a tantas sesiones de carreras como sea posible durante la semana: esto te hará un mejor corredor.
        </li>
        <li>
          Trata de quedarte para el café y el tiempo de relajación: esto ayudará a construir mejores relaciones.
        </li>
        <li>
          Comparte tus sesiones de carreras etiquetando @cliquerunclub y utiliza el hashtag #fontgiveupthemiles: esto nos ayudará a inspirar a otras personas.
        </li>
        <li>
          Paga tu membresía a tiempo: esto es básico para apoyar al club y mantener fluyendo los beneficios, Trata de participar en viajes y competiciones oficiales: de esta manera puedes experimentar verdaderamente el espíritu de Clique. Respeto: Ya sabes... Sé amable.
        </li>
        <li>
          Usarás las bandas de Clique lo más posible, sobre todo en competiciones: esto nos ayuda a crear conciencia.
        </li>
        <li>
          Por favor, avisa a Pato antes de promocionar productos u otros eventos de tripulaciones en el chat del club.
        </li>
        <li>
          ¡Sé tú mismo, sé audaz, sé valiente y disfruta de cada kilómetro!
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}