
.wraper {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
.product__info-wrapper.grid__item {
    position: sticky;
    top: 0;
}
.experience {
    font-family: primary;
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;}

    .comparte {
        font-family: 'lato';
        width: 57%;
        margin: 18px auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin-top: 30px;
    }

label.swatch-anchor {
    font-family: Lato !important;
    color: black !important;
}
.globo-swatch-product-detail ul.value li.select-option input:checked+.globo-style--button {
    border-color: #000000 !important;
    color: #ffffff;
    background-color: #ffffff;
}

.globo-swatch-product-detail .swatch--gl li .globo-style--button {
    border-color: #E4E4E4 !important;
    color: #000000;
    background-color: #FFFFFF;
}




    @media all and (max-width :768px){
        .experience {
            text-align: left;
        }
        .comparte {
            text-align: left;
            margin-bottom: 80px;
            width: 100%;
        }

    }