.experience {
    font-family: 'Hammer & Tongs';
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;}