    .wraper {
        max-width: 1280px;
        width: 90%;
        margin: auto;
    }

    .product__info-wrapper.grid__item {
        position: sticky;
        top: 0;
    }

  .accordion-atention {
    color: black !important;
    background-color: transparent !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    font-size: 16px !important;
}

.banner-contact{
  background-color:#EA2E34;
  
}


.letter-spacing{
  letter-spacing: initial;
}

.title-training{
  line-height: 40px;
}

.accordion-training{
  width: 100%;
  border-bottom: 1px solid #E4E4E4;
}

.header-accordion{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-program-training{
  background-color:#F8F8F8;
  padding:3em;
}

.btn-black{
  background-color:#151515;
  font-family: primary;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  width: 163px;
}

.btn-white{
  background-color:white;
  font-family: primary;
  font-size: 18px;
  color: #151515;
  letter-spacing: 1px;
  width: 163px;
}

.footer-plan{
    background: #151515;
    padding: 3em;
    color: #fff;
}

.unete-club-section3{
  background-color:#151515;
  color:white;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

    .experience {
        font-family: primary;
        font-style: normal;
        font-weight: 400px;
        font-size: 30px;
        line-height: 42px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        margin-top: 70px;
    }

    .comparte {
        font-family: 'lato';
        width: 57%;
        margin: 18px auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin-top: 30px;
    }

    label.swatch-anchor {
        font-family: Lato !important;
        color: black !important;
    }

    .globo-swatch-product-detail ul.value li.select-option input:checked+.globo-style--button {
        border-color: #000000 !important;
        color: #ffffff;
        background-color: #ffffff;
    }

    .globo-swatch-product-detail .swatch--gl li .globo-style--button {
        border-color: #E4E4E4 !important;
        color: #000000;
        background-color: #FFFFFF;
    }

    .swatch--gl.clearfix[data-option-index="0"] {
        display: none;
    }

    button.btn.btn-globo.globo--add-to-cart.globo-ajax-form-cart {
        display: none;
    }



    .header--middle-left {
        grid-template-columns: auto 8fr 1fr;
    }

    nav.header__inline-menu {
        text-align: center;
    }

    .list-menu__item>span.mm-title {
        font-family: 'primary';
        font-size: 18px;
        color: black;
        letter-spacing: 1px;
    }

    .list-menu__item>span.mm-title:hover {
        color: #666666
    }


    .announcement_block {
        background: #EA2E34;
    }

    .announcement_block>div {
        display: flex;
        max-width: 1166px;
        margin: auto;
        justify-content: space-between;
        width: 90%;
        align-items: center;
    }

    .social_grid>div {
        margin-right: 10px;
        display: flex;
    }

    .social_grid {
        display: flex;
        align-items: center;
    }

    .social_grid>div>a {
        display: flex;
    }

    p.announcement-bar__message.h5 {
        font-family: Lato;
        color: white;
        font-size: 13px;
    }

    .announcement_block a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-family: Lato;
        font-size: 14px;
    }
.footer-block__newsletter h2.footer-block__heading {
    font-size: 14px;
    font-family: Lato !important;
    text-align: left;
}
.footer__content-bottom {
    border-top: solid 0.1rem rgba(var(--color-foreground),.08);
    padding-top: 0rem !important;
}
.product .swatch--gl.clearfix[data-option-index="0"], .product button.btn.btn-globo.globo--add-to-cart.globo-ajax-form-cart {
    display: block;
}


div#CartPopup {
    width: 100%;
    height: 383px !important;
    overflow-y: scroll;
}

.styles_CartPreview__right__3dDLc {
    right: -100% !important;
    transition: .5s;
}

.styles_CartPreview__right__3dDLc.styles_active__2AUlQ {
    right: 0 !IMPORTANT;
    transition: .5s;
}















    @media all and (min-width :768px) {
        li.product__media-item:first-child {
            width: 100%;
            max-width: 100%;
        }

        li.product__media-item:nth-of-type(4n) {
            width: 100%;
            max-width: 100%;
        }

        .horizontal-mega-menu>li.buddha-menu-item ul.mm-submenu.tree,
        .horizontal-mega-menu>li.buddha-menu-item ul.mm-submenu.tree>li:first-child,
        .horizontal-mega-menu>li.buddha-menu-item ul.mm-submenu.tree>li:last-child,
        .horizontal-mega-menu>li.buddha-menu-item>ul.mm-contact,
        .horizontal-mega-menu>li.buddha-menu-item>ul.mm-contact>li.mm-contact-column,
  html body      .horizontal-mega-menu>li.buddha-menu-item>ul.mm-submenu,
        .horizontal-mega-menu>li.buddha-menu-item>ul.mm-submenu.tree>li>ul.mm-submenu.tree {
            border-radius: 0px !important;
        }

        html body .horizontal-mega-menu li.buddha-menu-item>ul.mm-submenu {
            /* margin-top: 26px !important; */
            width: 100% !important;
        }

    }

    @media all and (max-width :768px) {

      html .vertical-mega-menu>.buddha-menu-item>.mm-submenu.tree>li>a {
    margin-left: 20px !important;
}

html .vertical-mega-menu ul.mm-submenu.simple > li .mm-list-name span {
    font-size: 24px !important;
    font-weight: 400 !IMPORTANT;
}

html .vertical-mega-menu ul.mm-submenu.simple > li .mm-list-name {
    border-bottom: 0 !IMPORTANT;
    font-family: primary;
}

div#menu-drawer {
    width: 100% !IMPORTANT;
}
div#menu-drawer nav {
    padding-top: 0;
}
html  .vertical-mega-menu[menuIdx="0"]>li.buddha-menu-item > a > .toggle-menu-btn {
    right: 13px !important;
    top: calc(50% + 0px) !important;
    transform: rotate(270deg);
    top: 13px !important;
}

      a.menu-drawer__menu-item.list-menu__item.link.link--text {
    background: transparent !important;
    padding-left: 11px;
}
        .announcement_block>div {

            width: 100%;
            justify-content: center;
        }

        .hide-on-mb {
            display: none;
        }

        .experience {
            text-align: left;
        }

        .comparte {
            text-align: left;
            margin-bottom: 80px;
            width: 100%;
        }

    }
