
.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

.experience {
    font-family: 'Hammer & Tongs';
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;}

    .comparte {
        width: 57%;
        margin: 18px auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin-top: 30px;
    }






    @media all and (max-width :768px){
        .experience {
            text-align: left;
        }
        .comparte {
            text-align: left;
            margin-bottom: 80px;
            width: 100%;
        }

    }