/* base css............................................. */

@font-face {
    font-family: 'primary';
    src: url('HAMMER-TONGS-HARD') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'secondary';
    src: url('Pixellari.woff2') format('woff2'),
        url('Pixellari.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  
  
  .H1-D{
    font-family: 'primary';
    font-size: 90px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }
  
  .H1-M{
      font-family: 'primary';
      font-size: 48px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: 56px;
      text-transform: uppercase;
    }
  
    .H2{
      font-family: 'primary';
      font-size: 40px;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 0px;
      text-transform: uppercase;
    }
  
    .H3{
      font-family: 'primary';
      font-size: 32px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
      text-transform: uppercase;
    }
  
    .H4{
      font-family: 'primary';
      font-size: 24px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0px;
      text-transform: uppercase;
    }
  
    .H5{
      font-family: 'primary';
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  
    .BUTTON{
      font-family: 'primary';
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  
    .body-1{
      font-family: 'primary';
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
    }
  
    .body-2{
      font-family: 'primary';
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0px;
    }
  
    .body-3{
      font-family: 'primary';
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0px;
    }


/* style css..................................... */


.container{
    max-width: 1280px;
    margin: auto;
}

.section-1{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url(../images/header.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px;
}

.section-1 .container, .section-1 .pure-g, .section-1 .pure-u-1{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-1 h2{
    text-align: center;
    color: white;
}

/* ......... */

.tahir-section-2{
    background-color: #F8F8F8;
    padding-top: 60px;
    padding-bottom: 60px;
}

.tahir-section-2 p{
    padding: 60px 0;
}

.tahir-section-3{
    background-color: #151515;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

.tahir-section-3 span{
    color: #EA2E34;
}

.sec-3-li{
    padding-left: 20px;
}

.section-4{
    background-color: #F8F8F8;
    /* padding-top: 20px; */
    padding-bottom: 70px;
    padding-top: 50px;
}

.section-4 span{
    color: #EA2E34;
}

.section-4 .pure-g{
    justify-content: space-between;
    align-items: center;
}

.sec-4-li{
    padding-left: 20px;
}

.section-4 img{
    width: 80%;
    height: auto;
    /* padding-top: 50px; */
}

.sec-4-img{
    background-image: url(../images/run.jfif);
    /* padding: 400px; */
}

.section-5{
    padding-top: 60px;
    padding-bottom: 60px;
}


/* input[type=text], select, input[type=email], input[type=number], textarea {
    width: 100%;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #AEAEAE;
    font-size: 16px;
  } */
  
  button {
    width: 100%;
    background-color: #AEAEAE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    /* border-radius: 4px; */
    cursor: pointer;
    
  }

  label{
    color: #666666;
    font-size: 12px;
  }
  

  /* planes de entrenamiento................................................ */

  .section-2p{
    padding: 0 0 60px 0;
  }

  .section-2p img{
    width: 95%;
    height: 286px;
    object-fit: cover;
    /* padding: 50px 0; */
  }
  
  .section-2p .pure-u-1 h4, .section-2p .pure-u-1 p{
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
  }

  

  /* resonsiveness........................................ */


  @media all and (max-width: 768px){
    .container{
        max-width: 90%;
        margin: auto;
        /* padding: 15px; */
    }

    .section-1 .container, .section-1 .pure-g, .section-1 .pure-u-1{
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    
    .section-1 h2{
        display: none;
    }

    .section-2 .body-1{
    font-family: 'primary';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
  }

  .section-2 .H4{
    font-size: 20px;
    font-weight: 600;
  }

  .sec-3-li{
    margin-bottom: 0px;
  }

  .sec-3-li{
    margin-top: 0px;
  }

  .section-3 .body-1{
    line-height: 22px;
  }

  .section-4 img{
    width: 100%;
    padding-top: 0;
    margin-top: 80px;
    height: auto;
  }

  label{
    color: #666666;
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  .section-2p .pure-u-1 p{
    padding-bottom: 20px;
  }

}

@media all and (min-width: 769px) and (max-width: 1280px) {
    .container{
        max-width: 90%;
        margin: auto;
    }
}
