* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html,body {
      overflow-x: hidden;
  }
  img {
    max-width: 100%;
  }
  .wrapper {
    max-width: 1280px;
    width: 90%;
    margin: auto;
  }
  .h1 d {
    font-size: 90px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: "Hammer & Tongs";
  }
  .h1 m {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 56px;
    text-transform: uppercase;
    font-family: "Hammer & Tongs";
  }
  .h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: "Hammer & Tongs";
  }
  .h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: "Hammer & Tongs";
  }
  .h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: "Hammer & Tongs";
  }
  .h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Hammer & Tongs";
  }
  
  :root {
    --sec1Color: red;
    --sec5Color: black;
    --whiteColor: white;
  }
  
  .section-1 {
    background-color: var(--sec1Color);
  }
  .sec1-icon ul li {
    display: inline-block;
    padding-left: 10px;
  }
  
  .sec1-line p {
    color: white;
    /* text-align: center; */
    font-size: 14px;
    line-height: 17px;
    font-family: lato;
    margin-top: 6px;
    margin-left: 140px;
  }
  .sec1-c p {
    color: white;
    /* text-align: center; */
    font-size: 14px;
    line-height: 17px;
    font-family: lato;
    margin-top: 6px;
  }
  
  
  
  .sec2-navbar {
    padding-top: 20px;
  }
  
  .sec2-tabs ul li a {
    text-decoration: none;
    color: var(--whiteColor);
  
    font-size: 14px;
    /* font-family: Hammer & Tongs; */
    line-height: 18px;
  }
  .sec2-tabs ul li {
    display: inline-block;
    padding-left: 50px;
    text-transform: uppercase;
  }
  .sec2-icon ul li {
    display: inline-block;
    color: white;
    padding-left: 16px;
  }
  
  .sec2-banner p {
    font-family: primary;
    max-width: 970px;
    text-transform: uppercase;
    color: white;
    font-size: 90px;
    line-height: 80px;
    text-align: center;
    margin: auto;
    
  }
  .sec2-banner h3 {
    font-family: primary;
    margin-top: 30px;
    font-size: 27px;
    line-height: 26px;
    color: white;
    text-align: center;
  }
  .button-wrap {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .sec2-button1 {
    width: 163px;
    height: 40px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    color: black;
    text-transform: uppercase;
    font-family: primary;
  }
  .sec2-button2 {
    margin-left: 15px;
    width: 163px;
    height: 40px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    color: black;
    text-transform: uppercase;
    font-family: primary;
  }
  
  .section-3 {
    margin-top: 60px;
  }
  
  .sec3 {
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  .sec3 .card-body {
      position: absolute;
      bottom: 30px;
      left: 20px;
    }
  
  .sec3 h3 {
    font-family: primary;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    
  }
  .sec3  button {
    font-family: primary;
    height: 25px;
    width: 130px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
  text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    margin: 15px 0px 0px 0px;
  
  }
  
  
  
  .section-5 {
    background-color: var(--sec5Color);
    margin-top: 60px;
    padding: 80px 0px;
  }
  .sec5-content{
    padding-top: 60px;
  }
  
  .sec5-content h3 {
    margin-top: 20px;
    color: white;
    font-weight: 400;
    font-size: 32px;
    /* font-family: Hammer & Tongs; */
    line-height: 34px;
    text-transform: uppercase;
  }
  .sec5-content p {
    color: white;
    font-weight: 400;
    font-size: 18px;
    /* font-family: lato; */
    line-height: 22px;
    margin-top: 35px;
    max-width: 470px;
  }
  .sec5-content h4 {
    color: red;
    font-weight: 400;
    font-size: 14px;
    /* font-family: Hammer & Tongs; */
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
  }
  .sec5-content button {
    color: black;
    height: 40px;
    width: 163px;
    background-color: white;
  
    font-weight: 400;
    font-size: 14px;
    /* font-family: Hammer & Tongs; */
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 30px;
  }
  
  .section-6{
    padding: 80px 0px;
  }
  
  .sec6-content h3 {
    color: var(--sec5Color);
    font-weight: 400;
    font-size: 32px;
    /* font-family: Hammer & Tongs; */
    line-height: 34px;
    text-transform: uppercase;
    max-width: 520px;
  }
  .sec6-content h4 {
    color: red;
    font-weight: 400;
    font-size: 14px;
    /* font-family: Hammer & Tongs; */
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  .sec6-content p {
    color: var(--sec5Color);
    font-weight: 400;
    font-size: 18px;
    /* font-family: lato; */
    line-height: 22px;
    margin-top: 25px;
    max-width: 472px;
  }
  .sec6-content button {
    color: var(--whiteColor);
    height: 40px;
    width: 185px;
    background-color: var(--sec5Color);
  
    font-weight: 400;
    font-size: 14px;
    /* font-family: Hammer & Tongs; */
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
  }
  .section-7 {
    background-image: url("./images/sec7-1.jpg");
    background-size: cover;
    padding: 245px 0px;
  background-position: center;
    
  }
  
  .sec7-content h2 {
    color: var(--whiteColor);
    font-weight: 400;
    font-size: 40px;
    /* font-family: Hammer & Tongs; */
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
  }
  .sec7-content p {
    color: var(--whiteColor);
    font-weight: 400;
    font-size: 18px;
    /* font-family: lato; */
    line-height: 22px;
    text-align: center;
    
    max-width: 480px;
    margin: auto;
    margin-top: 30px;
  }
  .section-8 {
    background-image: url("./images/sec8-1new.jpg");
    background-size: cover;
    background-position: center;
    padding: 175px 0px;
  }
  
  .sec8-content h4 {
    color: var(--whiteColor);
    font-weight: 400;
    font-size: 14px;
    /* font-family: Hammer & Tongs; */
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .sec8-content h2 {
    color: var(--whiteColor);
    font-weight: 400;
    font-size: 32px;
    /* font-family: Hammer & Tongs; */
    line-height: 34px;
    text-align: center;
  
    text-transform: uppercase;
    margin-top: 15px;
  }
  
  
  .section-9{
    background-color: #F8F8F8;
    padding: 100px;
  }
  .sec9-content h3{
  color: #151515;
  text-align: center;
  }
  .sec9-content p{
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #666666;
    max-width: 500px;
  margin: auto;
  margin-top: 25px;
  
  }
  .sec9-content h5{
    text-align: center;
    letter-spacing: 1px;
    color: #EA2E34;
    margin-top: 25px;
  }
  .sec9-content button{
    max-width: 240px;
    height: 40px;
    width: 100%;
    background-color: #151515;
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    font-family: "Hammer & Tongs";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  



  
@media all and (min-width: 769px) {
    .section-9{
      display: none;
    }
  
  }
  
  
  
  
  @media all and (max-width: 768px) {
    .sec3 {
      margin-left: 0;
    }
    .sec3.img2 {
      margin-top: 20px;
      height: 350px;
    }
    .sec3.img1{
      height: 350px;
    }
    .section-2{
      padding-top: 100px;
    }
  
    .sec2-banner p {
      font-size: 35px;
      line-height: 38px;
    }
    .sec2-button2 {
      margin-left: 40px;
    }
    .section-3 {
      margin-top: 90px;
    }
  
    .sec3-image1 button {
      margin: 10px 0px 0px 10px;
    }
    .sec3-image2 button {
      margin: 10px 0px 0px 10px;
    }
    .sec5-image {
      padding-top: 45px;
    }
    .sec6-content {
      padding-top: 45px;
    }
  
    .section-6 {
      margin-top: 100px;
      background-color: #f8f8f8;
    }
  
    .section-7 {
      margin-top: 0px;
      padding: 150px 0;
    }
  
    .sec7-content h2 {
      text-align: left;
    }
    .sec7-content p {
      text-align: left;
      margin-top: 40px;
      margin: revert;
    }
  }
  